.chart {
    display: block;
    margin: 0 auto;
}

.chart .right {
  stroke: white;
  fill: indianred; 
}

.chart .left {
  stroke: white;
  fill: steelblue; 
}

.chart rect:hover {
  fill: #64707d; 
}

.chart text {
  fill: white; 
}

.chart text.name {
  fill: black; 
}