$var title: Hack that Jersey!

    <div class="container" ng-controller="MainCtrl" ng-cloak>

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <h1>{{title}}</h1>
          <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="year" class="col-lg-2 control-label">Pick a Year</label>
                    <select ng-change="loadDistricts()" id="year" ng-model="year" ng-options="year for year in years"></select>
                  </div>
                  <div class="form-group">
                    <label for="race" class="col-lg-2 control-label">Pick a District</label>
                    <select id="race" ng-model="race" ng-options="district for district in districts"></select>
                  </div>
                  <div class="form-group">
                    <label for="race" class="col-lg-2 control-label">Pick a Race</label>
                    <select id="race" ng-model="race" ng-options="seat for race in races"></select>
                  </div>
                  <div class="form-group">
                    <label for="candidate" class="col-lg-2 control-label">Pick a Race</label>
                    <select id="candidate" ng-model="candidate" ng-options="candidate.name for candidate in candidates"></select>
                  </div>
                  <div ng-show="showData">
                    <h1>The Scoop</h1>
                  </div>
                </form>
              </div>
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <img id="logo" src="static/app/img/njcs-logo.jpg" />
            <ul class="nav">
              <li>More ...</li>
              <li class="active"><a href="http://hackjersey.com">HackJersey</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->

