$var title: Industrial Campaign Fundraising in NJ

    <div class="container" ng-controller="MainCtrl" ng-cloak>

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <h1>{{title}}</h1>
          <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="year" class="col-lg-2 control-label">Quick Look:</label>
                    <a class="btn btn-default btn-sm" href="#" ng-click="goToSeat('2012', 'NJ-16', 'state:lower')">2012 / NJ-16 / State:Lower</a>
                    <a class="btn btn-default btn-sm" href="#" ng-click="goToSeat('2012', 'NJ-26', 'state:lower')">2012 / NJ-26 / State:Lower</a>
                  </div>
                  <div class="form-group">
                    <label for="year" class="col-lg-2 control-label">Pick a Year</label>
                    <select  class="form-control" ng-change="loadDistricts()" id="year" ng-model="year" ng-options="year for year in years"></select>
                  </div>
                  <div class="form-group">
                    <label for="district" class="col-lg-2 control-label">Pick a District</label>
                    <select class="form-control" ng-change="loadSeats()" id="district" ng-model="district" ng-options="district for district in districts"></select>
                  </div>
                  <div class="form-group">
                    <label for="seat" class="col-lg-2 control-label">Pick a Seat</label>
                    <select ng-change="loadCandidates()" class="form-control" id="seat" ng-model="seat" ng-options="seat for seat in seats"></select>
                  </div>
                  <div ng-show="showData">
                    {{candidates | json}}
                  </div>
                  <div ng-repeat="chart in charts">
                    <highchart id="chart{{ \$index }}" config="chart.config" style="width: 100%;"></highchart>
                  </div>
                </form>
              </div>
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <img id="logo" src="static/app/img/njcs-logo.jpg" />
            <ul class="nav">
              <li>More ...</li>
              <li class="active"><a href="http://hackjersey.com">Hack Jersey</a></li>
              <li class="active"><a href="https://twitter.com/hackjersey">Hack Jersey on Twitter</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
       <!-- <p>&copy; Company 2013</p> -->
      </footer>

    </div><!--/.container-->

