$def with (content)

<!DOCTYPE>
<html>

	<head>
		<title>$content.title</title>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">		
		<link rel="stylesheet" type="text/css" href="static/app/css/offcanvas.css">		
		<link rel="stylesheet" type="text/css" href="static/app/css/style.css">		
	    <style type="text/css">

    .chart {
     	display: block;
     	margin: 0 auto;
    }
    
    .chart .right {
      stroke: white;
      fill: indianred; 
    }

    .chart .left {
      stroke: white;
      fill: steelblue; 
    }

    .chart rect:hover {
      fill: #64707d; 
    }
    
    .chart text {
      fill: white; 
    }
    
    .chart text.name {
      fill: black; 
    }

    </style>
	</head>

	<body>
		<script src="static/app/js/jquery-1.10.2.min.js"></script>
		<script src="static/app/js/d3.v3.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.js"></script>
		$:content

		
		
	</body>
</html>
